body {
    font-family: Consolas, Lucida Console, Candara, Trebuchet MS, Helvetica, sans-serif;
    background: #333;
    margin: 0;
    padding: 0;
}

.container-all-status {
    width: 880px;
    margin: 50px auto;
    padding: 7px;
    background: none;
    border-radius: 20px;
}

.container-all {
    background: #777;
    color: whitesmoke;
    max-width: 850px;
    margin: 0 auto;
    padding: 20px 30px;
    border-radius: 20px;
}

.container-data {
    background: #777;
    color: whitesmoke;
    max-width: 800px;
    margin: 0 auto;
    padding: 0px;
}

  .container-title {
      color: whitesmoke;
      margin: 0;
      padding: 0 0 15px 0;
    }

  .contents-div {
      margin: 10px 0;
  }

  .contents-block {
      background: #777;
      color: whitesmoke;
      border: none;
      display: inline-block;
  }

  .contents-block-label {
      width: 180px;
      margin: 0;
      padding: 0 0 0 5px;
  }

  .contents-block-value {
      width: 570px;
      margin: 0;
      padding: 0;
  }

  .contents-block-status-value {
      font-size: 28px;
      padding: 2px 0;
  }